<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Christmas 2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/css/page2.css">
</head>

<body>
  <div class="wrapp-page-two">
    <div class="row wrapp-img">
      <img src="../public/img/222.png" class="image" />
    </div>
    <div class="row wrapper-wish">
      <div class="content">May This Christmas Bringyou Much HappinessFor All Days Of The New Year The footer tag is not supported in Internet
        Explorer 8 and earlier versions.
        <strong> SPIDer Team</strong>
      </div>
    </div>
    <div class="row wrapp-btn">
      <div class="col-ms-6 col-lg-6 col-md-6 btn-design-left">
        <button type="button" class="btn">
          <a href="http://localhost:3000/choose">
            Design 1
          </a>
        </button>
      </div>
      <div class="col-ms-6 col-lg-6 col-md-6 btn-design-right">
        <button type="button" class="btn">Design 2</button>
      </div>
    </div>

  </div>
</body>

</html>